<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95811060419-vb1vj5n7smvv8pvg01ae7vcp4jh18atr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95811060419-vb1vj5n7smvv8pvg01ae7vcp4jh18atr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>95811060419-e64q0ih6giveo457hkki7na1fmjci178.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzRHkQVAwayHyPipNb0G8HufUK39GNtzg</string>
	<key>GCM_SENDER_ID</key>
	<string>95811060419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soulai.in</string>
	<key>PROJECT_ID</key>
	<string>soul-ai-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>soul-ai-notifications.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95811060419:ios:01f49b5969f0fbd3711876</string>
</dict>
</plist>